{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx">
<head>

</head>
<body>
	
	<!-- Page top Section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 m-auto text-white">
					<h2>Blog Details</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- Page top Section end -->

	<!-- Blog Details Section -->
	<section class="blog-details-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="blog-details">
						<div class="blog-preview">
							<img height="500px" src="{{blog_obj.image.url}}" alt="">
						</div>
						<h2>{{blog_obj.title}}</h2>
						<div class="blog-meta"><p style="color:#f65d5d">{{blog_obj.created_at}}</p></div>
						<div class="blog-meta"><p style="color:#f65d5d">{{blog_obj.updated_to}}</p></div>
						<div class="blog-preview">

						{{blog_obj.content|safe}}
					</div>
						<br>
						<div class="row">
							<div class="col-sm-7">
								<div class="ed-cata"><p><i class="material-icons">local_offer</i>Health</p></div>
							</div>
							<div class="col-sm-5 text-left text-sm-right pt-4 pt-sm-0">
								<div class="ed-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-5 col-sm-8 sidebar">
					
					<div class="sb-widget">
						<h2 class="sb-title">About Trainer</h2>
						<div class="about-instructor-widget">
							<img src="{{trainer.profile_pic.url}}" alt="">
							<h4>{{trainer.fname}} {{trainer.lname}}</h4>
							<h6>Gym Trainer</h6>
							<p>Gym & Yoga Therapy Certificate of Uttarakhand University</p>
							<div class="ai-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
					<div class="sb-widget">
						<h2 class="sb-title">Latest Blogs</h2>
						<div class="latest-post-widget">
							{% for i in latest_blogs %}
							<a href="{% url 'blog_detail' slug=i.slug %}">
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="{{i.image.url}}"></div>
								<div class="lp-text">
									<h3>{{i.title}}</h3>
									<p><i class="material-icons">event_available</i>{{blog_obj.created_at}}</p>
								</div>
							</div>
							</a>
							<br>
							{% endfor %}
							
						</div>
					</div>

					<div class="sb-widget">
						<h2 class="sb-title">Other Blogs</h2>
						<div class="insta-widget">
							{% for i in latest_blogs_02 %}
							<div class="insta-item">
								<a href="{% url 'blog_detail' slug=i.slug %}">
								<div class="insta-img">
									
									<img height="80px" width="100px" src="{{i.image.url}}" alt="">
								</div>
								</a>
							</div>

						{% endfor %}
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- Blog Details Section end -->
	
	

	</body>
</html>
{% endblock %}