{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="zxx">
<head>
  
</head>
<body>
                                                                                
  <!-- Page top Section -->
  <section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 m-auto text-white">
          <h2>Forgot Password</h2>
          
        </div>
      </div>
    </div>
  </section>
  <!-- Page top Section end -->

  <!-- Contact Section -->
  <section class="contact-page-section spad overflow-hidden">
    <div class="container">
      <div class="row">
        <center>
        <div class="col-lg-20">
          <h2>Forgot Your Password??</h2>
          <h6>Don't Worry Verify Your Email and Change Your Password</h6>
          {% if msg %}
            <b style="color:blue;">{{msg}}</b>
            {% endif %}
            <br><br>
          <form action="{% url 'forgot_password' %}" class="singup-form contact-form" method="post">
            {% csrf_token %}
            
            
              <div class="form-group">
                
              <div class="col-md-12">
                <input type="text" placeholder="Enter Registered Email ID" name="email">
              </div>
              
            
            </div>
            <center>
              <button type="submit" value="submit" class="site-btn sb-gradient">SEND OTP</button>
            </center>
          </form>
        </div>
        </center>
      </div>
    </div>
  </section>
  <!-- Trainers Section end -->


  </body>
</html>
{% endblock %}