{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx">
<head>
  
</head>
<body>
                                                                                
  <!-- Page top Section -->
  <section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 m-auto text-white">
          <h2>Enter New Password</h2>
          
        </div>
      </div>
    </div>
  </section>
  <!-- Page top Section end -->

  <!-- Contact Section -->
  <section class="contact-page-section spad overflow-hidden">
    <div class="container">
      <div class="row">
        <center>
        <div class="col-lg-20">
          <h2>New Password</h2>
          {% if msg %}
            <b style="color:blue;">{{msg}}</b>
            {% endif %}
            <br><br>
         <form action="{% url 'update_password' %}" class="singup-form contact-form" method="post" novalidate="novalidate" enctype="multipart/form-data">
            {% csrf_token %}
            
            
              <div class="form-group">
                
                <input type="hidden" name="email" value="{{email}}">
              <div class="col-md-12">
                <input type="password" placeholder="Enter New Password" name="new_password">
              </div>
              <div class="col-md-12">
                <input type="password" placeholder="Enter Confirm New Password" name="cnew_password">
              </div>
              
            
            </div>
            <center>
              <button type="submit" value="submit" class="site-btn sb-gradient">UPDATE PASSWORD</button>
            </center>
          </form>
        </div>
        </center>
      </div>
    </div>
  </section>
  <!-- Trainers Section end -->


  </body>
</html>
{% endblock %}