{% extends 'trainer_header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="zxx">
<head>
  
</head>
<body>
                                                                                
  <!-- Page top Section -->
  <section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 m-auto text-white">
          <h2>Change Password</h2>
          
        </div>
      </div>
    </div>
  </section>
  <!-- Page top Section end -->

  <!-- Contact Section -->
  <section class="contact-page-section spad overflow-hidden">
    <div class="container">
      <div class="row">
        <center>
        <div class="col-lg-8">
          <h3>Change Your Password</h3>
          {% if msg %}
            <b style="color:blue;">{{msg}}</b>
            {% endif %}
          <form action="{% url 'trainer_change_password' %}" class="singup-form contact-form" method="post" novalidate="novalidate" enctype="multipart/form-data">
            {% csrf_token %}
            
            
              <div class="row">
              <div class="col-md-9">
                <input type="text" placeholder="Old Password" id="pass1" name="old_password">
              
                <input type="text" placeholder="New Password" id="pass" name="new_password">
              
                <input type="text" placeholder="Confirm New Password" id="pass" name="cnew_password">
              </div>
            
            </div>
            <center>
              <button type="submit" value="submit" class="site-btn sb-gradient">Change Password</button>
            </center>
          </form>
        </div>
        </center>
      </div>
    </div>
  </section>
  <!-- Trainers Section end -->


  </body>
</html>
{% endblock %}