{% extends 'trainer_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx">
<head>
<link rel="stylesheet" href="{% static 'css/delete_blog.css' %}"/>
</head>
<body>
	
	<!-- Page top Section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 m-auto text-white">
					<h2>Blog Details</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- Page top Section end -->

	<!-- Blog Details Section -->
	<section class="blog-details-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="blog-details">
						<div class="blog-preview">
							<img height="500px" src="{{blog_obj.image.url}}" alt="">
						</div>
						<h2>{{blog_obj.title}}</h2>
						<div class="blog-meta"><p>{{blog_obj.created_at}}</p></div>
					<div class="blog-preview">

						{{blog_obj.content|safe}}
					</div>
						<br>
						<div class="row">
							<div class="col-sm-7">
								<div class="ed-cata"><p><i class="material-icons">local_offer</i>Health</p></div>
							</div>
							<div class="col-sm-5 text-left text-sm-right pt-4 pt-sm-0">
								<div class="ed-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-5 col-sm-8 sidebar">
					
					<div class="sb-widget">
						<h2 class="sb-title">About Trainer</h2>
						<div class="about-instructor-widget">
							<img src="{{user.profile_pic.url}}" alt="">
							<h4>{{user.fname}} {{user.lname}}</h4>
							<h6>Gym Trainer</h6>
							<p>Gym & Yoga Therapy Certificate of Uttarakhand University</p>
							<div class="ai-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				
					<div class="sb-widget">
						
						<div class="latest-post-widget">
							
							
							<div class="lp-item">
								<a href="{%  url 'trainer_blog_edit' blog_obj.slug %}" class="site-btn sb-gradient">Edit Blog</a>
							</div>
							<br>
							<div class="lp-item">
								<a onclick="document.getElementById('id01').style.display='block'"style="color:red ;" class="site-btn sb-gradient">Delete Blog</a>
								<div id="id01" class="modal">
  <span onclick="document.getElementById('myForm').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Delete Blog</h1>
      <h5>Are you sure you want to delete your blog?</h5>
    
      <div class="clearfix">
        	<button type="button" onclick="document.getElementById('id01').style.display='block'" class="cancelbtn">Cancel</button>
    	<a href="{% url 'trainer_blog_delete' blog_obj.id %}">
        	<button type="button" class="deletebtn">Delete</button>
        </a>
      </div>
    </div>
  </form>
</div>
							</div>
							
						
							<br>	
						</div>

					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- Blog Details Section end -->
	<script>
// Get the modal
var modal = document.getElementById('id01');


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
 
  
}

// function openForm() {
//   document.getElementById("myForm").style.display = "block";
// }

// function closeForm() {
//   document.getElementById("myForm").style.display = "none";
// }
</script>
	

	</body>
</html>
{% endblock %}