{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx">
<head>

</head>
<body>

	                                                                              
	<!-- Page top Section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 m-auto text-white">
					<h2>Our Trainers</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Page top Section end -->

	<!-- Trainers Section -->
	<section class="trainers-page-section spad overflow-hidden">
		<div class="container">
			<div class="row">
				{% for i in trainer %}
				<div class="col-lg-6">
					<div class="trainer-item">
						<div class="ti-img">
							<img height="300px" src="{{i.profile_pic.url}}" alt="">
						</div>
						<div class="ti-text">
							<h4>{{i.fname}}</h4>
							<h6>Gym Trainer</h6>
							<p>Gym & Yoga Therapy Certificate of Uttarakhand University Sanskrit</p>
							<div class="ti-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			
			</div>
			<div class="site-pagination">
				<a href="#" class="active">1</a>
				<a href="#">2</a>
				<a href="#"><i class="material-icons">keyboard_arrow_right</i></a>
			</div>
		</div>
	</section>
	<!-- Trainers Section end -->

	
	</body>
</html>
{% endblock %}